<h1 [ngStyle]="{color:'blue'}"> Liste des tâches à réaliser</h1>

<!-- short / medium / long / full -->
<p>Nous sommes le {{today | date: 'dd/mm/yyyy'}}</p>

<!-- <h1 [ngClass]="['classe1']"> Liste des tâches à réaliser</h1> -->
<!-- <h1 [ngClass]="'classe1 classe 2'"> Liste des tâches à réaliser</h1> -->


<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todos, let i = index">
    <!-- Permet de debuguer en voyant le contenu de l'objet avec ce Pipe -->
    <!-- {{todo | json}} -->
    <!-- Permet de patienter quand l'info vient de l'extérieur -->
    <!-- {{todo | async}} -->

    <div [ngClass]="{encours:todo.todoStatus, terminee:!todo.todoStatus}">
      <a [href]="todo.image">
        <img [src]="todo.image" />
      </a>
      {{todo.todoName | lowercase }}

      <!-- le premier c'est du proprety biding -->
      <!-- le i permet de connaitre l'élément sur lequel tu cliques c'est du eventbidind-->
      <button type="button" class="btn btn-primary" [disabled]="todo.todoStatus"(click)="onChangeStatus(i)">En cours</button>
      <button type="button" class="btn btn-success" [disabled]="!todo.todoStatus"(click)="onChangeStatus(i)">Terminé</button>

      <!-- Action de modification" -->
      <button type="button" class="btn btn-danger mr-1" *ngIf="!todo.isModif" (click)="onChangeIsModif(i)">Modifier</button>
      <button type="button" class="btn btn-success mr-1" *ngIf="todo.isModif" (click)="onChangeIsModif(i)">Modification terminée</button>

      <!-- Ne pas oublier d'importer formModule -->
      <input *ngIf="todo.isModif" class="form-control" [(ngModel)] = "todo.todoName">

    </div>
  </li>
</ul>
