<div class="row">
  <h1 class="display-4 text-center">Ajouter une tâche à réaliser</h1>
  <div class="col-6">
    <form #addTodoForm="ngForm">
      <div class="form-group">
        <label for="">Nom de la tâche :</label>
        <input type="text" class="form-control m-1"
        name="todoName"
        [(ngModel)] = 'todo.todoName' required
        >
      </div>

      <div class="form-group">
        <label for="">Description de la tâche : </label>
        <textarea class="form-control m-1" name="description"
        name="description"
        [(ngModel)] = 'todo.description' required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="">URL de l'image : </label>
        <input type="text" class="form-control m-1"
        name="image"
        [(ngModel)] = 'todo.image' required
        >
      </div>

      <div class="form-group">
        <label for="">Etat de la tâche : </label>
        <select name="" id="" class="form-control m-1"
        name="todoStatus"
        [(ngModel)] = 'todo.todoStatus' required
        >
          <option value="true">En cours</option>
          <option value="false">Terminée</option>
        </select>
      </div>

    <button [disabled]="!addTodoForm.form.valid" type="button" (click)="onSubmit()" class="btn btn-success btn-lg">Ajouter la tâche</button>
  </form>
  </div>
</div>
